<div class="modal right fade" bsModal #categoryModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="categoryList">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">
          <span class="fas" [ngClass]="{'fa-stream': listType === 'category', 'fa-globe-americas': listType === 'area'}">&nbsp; </span>
          {{ listType === "category" ? "Categories": "Cuisine" }}</h4>
      </div>

      <div class="modal-body">
        <ul class="list-group">
          <a class="btn list-group-item list-group-item-action" (click)="openSelected($event.target.innerText)" *ngFor="let item of list">{{ item }}</a>
        </ul>
      </div>
    </div>
  </div>
</div>