<div class="modal right fade" bsModal #categoryModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="categoryList">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">{{ listType }}</h4>
        <button type="button" class="close" (click)="categoryModal.hide()" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <ul class="list-group">
          <a class="btn list-group-item list-group-item-action" *ngFor="let item of list">{{ item }}</a>
        </ul>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->