
<div class="jumbotron text-center container">
  <h1 class="display-4">Search your recipes</h1>
</div>


<div #searchTop class="row container-fluid p-0 m-0 search-bar-top">
    <div class="col-lg-12 card-margin p-0">
        <div #searchForm class="card col-10 search-form">
          <div class="card-body p-0">
            <form id="search-form" class="container" (ngSubmit)="getRecipesFromSearch()">
              <div class="row">
                <div class="col-12 align-self-center">
                  <div class="row no-gutters">
                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                      <button type="submit" class="btn btn-search">
                        <span class="fas fa-search"></span>
                      </button>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                      <input required type="text" [(ngModel)]="searchItem" placeholder="Search..." class="form-control" id="search" name="search">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                      <select class="form-control" id="queryTypeSelect" [(ngModel)]="queryType" name="queryTypeSelectForm">
                        <option *ngFor="let typ of types" [ngValue]="typ.value">{{ typ.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>

</div>

// TODO - create buttons for 'categories' and 'cuisines'

<div class="d-flex container justify-content-center align-items-center">
      <a class="btn btn-outline-success rounded-pill btn-random" (click)="getRandomRecipe()">
        <span class="fas fa-dice"></span>&nbsp;Get Random Recipe</a>
      <a class="btn btn-outline-danger rounded-pill btn-random ml-3" (click)="getRandomRecipe()">
        <span class="fas fa-dice"></span>&nbsp;Get Random Recipe</a>
      <a class="btn btn-outline-danger rounded-pill btn-random ml-3" (click)="getRandomRecipe()">
        <span class="fas fa-dice"></span>&nbsp;Get Random Recipe</a>
</div>
<!-- </div> -->
<br />

// TODO - make this text area reflect what is being searched. like `Search Result for "Lamb"` also
// change the search area accordingly to reflect on whats being searched
<div class="container">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora recusandae praesentium voluptas alias vero aliquam obcaecati ullam rerum. Voluptatem vel dolor quod facilis nemo sed perferendis unde dicta nisi non.</p>
</div>

<div class="container-fluid d-flex justify-content-center p-0 m-0">
  <div class="card-group d-flex flex-wrap align-items-center justify-content-center">
    <app-recipe-item *ngFor="let recipeitem of recipeList" [recipeInstance]="recipeitem"></app-recipe-item>
  </div>
</div>

