.jumbotron {
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 0;
    margin-bottom: 2em;
}

  .btn-random {
    box-shadow: 0px 5px 10px -5px black;
  }
  
  .search-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 0;
  }

  .search-form-anim {
    animation: 0.3s ease-in-out;
    animation-fill-mode: forwards;
    animation-name: fill-search-x;
  }

  @keyframes fill-search-x {
    0% {
      width: 80%;
    }
    100% {
      width: 100%;
    }
  }
  
  .search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
  }
  
  .search-form select {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
  }
  
  .search-form select:focus {
    border: 0;
  }
  
  .search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }
  
  .search-form button svg {
    width: 24px;
    height: 24px;
  }
  
  
  .card-margin {
      margin-bottom: 1.875rem;
  }
  
  @media (min-width: 992px){
  .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  }
  
  .card-margin {
      margin-bottom: 1.875rem;
  }
  .card {
      border: 0;
      box-shadow: 0px 25px 15px -24px;
      -webkit-box-shadow: 0px 25px 15px -24px;
      -moz-box-shadow: 0px 25px 15px -24px;
      -ms-box-shadow: 0px 25px 15px -24px;
  }
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #ffffff;
      background-clip: border-box;
      border: 0;
  }

  .search-bar-top {
      position: sticky;
      top: 0;
      z-index: 10;
  }