<div class="row">
  <div class="jumbotron col-lg-6">
    <div class="container-fluid">
      <h1 class="display-4"><span><img src="assets/undraw_empty_cart.svg" alt="Card thumbnail"
            style="width: 1.5em; height: auto;"></span>Your cart</h1>
      <p class="lead">Manage the ingredients that you want to buy here</p>
      <br />
      <hr/>
      <div class="list-group list-group-flush">
        <app-shopping-item *ngFor="let shoppingItem of shoppingCartRecipes" [shoppingItem]="shoppingItem">
        </app-shopping-item>
      </div>
    </div>
  </div>
  <div class="jumbotron col-lg-6" id="searchSection">
    <div class="container-fluid">
      <br/>
      <h3 class="text-right">Search the Web <span class="fas fa-fw fa-search"></span></h3>
    </div>
    <div class="gcse-search">hello</div>
  </div>
</div>