.content-img {
    width: 100% !important;
    height: 30em !important;
    object-fit: cover !important;
}

.btn {
    border-radius: 5em;
}

.jumbotron {
    margin-bottom: 5%;
    padding-bottom: 0;
}

h5 {
    font-weight: bold;
}