.content-img {
    width: 100% !important;
    height: 30em !important;
    object-fit: cover !important;
}

.modal-header {
    background-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.modal-footer {
    background-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.btn {
    border-radius: 5em;
}


.jumbotron {
    margin-bottom: 5%;
    padding-bottom: 0;
}

h5 {
    font-weight: bold;
}